---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BlogBaseHead from "../components/BlogBaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob("./blog/*.{md,mdx,pen}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Tag />
    <BlogBaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <meta name="keywords" content="blog, posts, articles" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Siddharth Kshetrapal" />
  </head>
  <body>
    <Ga />
    <Header />
    <main>
      <section>
        <div class="blog-posts">
          {
            posts.map((post) => (
              <div class="blog-post">
                <p class="tags">
                  <strong>Tags: </strong>
                  {post.frontmatter.tags.map((tag) => (
                    <span>{tag}</span>
                  ))}
                </p>
                <time datetime={post.frontmatter.pubDate}>
                  <strong>Date: </strong>{" "}
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={post.url}>
                  <h3>{post.frontmatter.title}</h3>
                </a>
                <p>
                  <strong>Description: </strong>
                  {post.frontmatter.description}
                </p>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
