---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Language from "../components/Language.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob("./blog-cat/*.{md,mdx,pen}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Tag />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <meta name="keywords" content="blog, posts, articles" />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <Ga />
    <Header />
    <main>
      <section>
        <Language />
        <div class="blog-posts">
          {
            posts.map((post) => (
              // when click on blog-post go this post
              <div class="blog-post">
                <div class="tags">
                  {post.frontmatter.tags.map((tag) => (
                    <span>{tag}</span>
                  ))}
                </div>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={post.url}>
                  <h3>{post.frontmatter.title}</h3>
                </a>
                <p>{post.frontmatter.description}</p>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
    );
  </body>
</html>
